<!doctype html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

<div id="layout">
  {{> header}}
  <div class="content">
    <div class="pure-g l-box">
      {{#photos}}
        <div class="pure-u-md-1-3 l-box">
          <div id="LivePhoto"
            data-live-photo
            data-photo-src="{{path}}"
            data-video-src="{{path}}"
            style="width: 320px; height: 320px">
            <a href="/gallery/{{id}}">ID {{id}}</a>
          </div>
          <a href="/gallery/{{id}}">ID {{id}}</a>
        </div>
      {{/photos}}
      </div>

    <div class="pure-u-md-1-3 l-box">
    <a class="pure-button pure-button-primary" href="/gallery/upload">Upload</a><br><br>
    <a href="/user/show">Update or delete</a> an account<br>
    <a href="/logout">Logout</a>
    </div>

    </div>
  </div>

</body>
</html>


