<!doctype html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

<div id="layout">
  {{> header}}
  <div class="content">

  {{#logged_in}}
    <h4>Hello {{email}}!</h4>
      <form class="pure-form" action="/user?_method=PUT" method="post">
        <h5>Update your email address:</h5>

            <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" value="{{email}}">
            <label for="email"></label>

            <button type="submit" class="pure-button pure-button-primary">Update</button>
            <a href="/logout">Logout</a>
      </form>
    {{/logged_in}}



<!-- if not logged in -->
    {{^logged_in}}
    <form class="pure-form"  action="/login" method="post">
        <h4>Login</h4>

          <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
          <label for="email"></label>

            <input id="password" type="password" name="password" class="validate" placeholder="password">
            <label for="password"></label>

            <button type="submit" class="pure-button pure-button-primary">Login</button>
            or <a href="/signup">sign up!</a>

    </form>

      {{/logged_in}}
    </div>
  </div>
