<!doctype html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

<div id="layout">
  {{> header}}
  <div class="content">

  <h3>Update your email address:</h3>
  {{#users}}
  <form class="pure-form" action="/user?_method=PUT" method="post">
    <div class="pure-form">
      <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" value="{{email}}">
      <label for="email"></label>
      <button type="submit" class="pure-button pure-button-primary">Update</button>
    </div>
  </form>
  {{/users}}


  <div class="pure-menu pure-u-1-3">
    <h3>Delete an email address:</h3>
    {{#users}}
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/delete/{{id}}" class="pure-menu-link">{{email}}</a>
        </li>
      </ul>
    {{/users}}
  </div>


    </div>
  </div>
</div>
